{% extends "dashboard_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load app_filters %}

{% block dashboard_breadcrumb %} 
    <a href="{% url "dashboard_detail" %}?page=drought" class="breadcrumb">{% trans "Drought" %}</a>
    {% include "links_title.html" %}
{% endblock dashboard_breadcrumb %}

{% block dashboard_content %}
    <div class="row no-margin">
        {% include "qlink_list.html" %}
    </div>

    {% if nodata %}
    <div class="row">
        {{ nodata_desc }}
    </div>    
    {% else %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content" style="padding: 0 15px;">
                    <div class="date">
                        <div class="row valign-wrapper no-margin">
                            <div class="col s12 xl10">
                                <span class="card-title">
                                    {% trans "Closest Available Prediction Period :" %} {{woy_datestart}} to {{woy_dateend}}
                                </span>
                            </div>
                            <div class="input-field col s12 xl2">
                                <input type="text" id="set_woy" class="datepicker" data-date-format="YYYY-MM-DD">
                                <label for="set_woy">{% trans "Date" %}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% trans "Map" %}
                    </span>
                    <div class="row">
                        <div class="col s12 l3 xl2">
                            <div id="layercontrol">
                                <div class="input-field">
                                    <select id="droughtOpt">
                                        <option value="drought_checkbox_pop">Population at Drought Risk</option>
                                        <option value="drought_checkbox_build">Building at Drought Risk</option>
                                        <option value="drought_checkbox_area">Area at Drought Risk</option>
                                    </select>
                                    <label for="droughtOpt">Choose Layer :</label>
                                </div>

                                <div class="input-field">
                                    <span>Landcover Area</span>
                                    <div class="switch right">
                                        <label>
                                            <input type="checkbox" data-type=wms data-layer=landcover>
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="input-field">
                                    <span>Drought Area</span>
                                    <div class="switch right">
                                        <label>
                                            <input type="checkbox" data-type=wms data-layer=drought>
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>

                                <label for="lvl">Choose Level :</label>
                                <div id="lvl" class="lvl_choice">
                                    <div class="row drought_checkbox_pop drought_opt">
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_pop_ab_dry">
                                                <span>Abnormally Dry</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_pop_moderate">
                                                <span>Moderate</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_pop_severe">
                                                <span>Severe</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_pop_extreme">
                                                <span>Extreme</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_pop_exceptional">
                                                <span>Exceptional</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div style='display:none;' class="row drought_checkbox_build drought_opt">
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_build_ab_dry">
                                                <span>Abnormally Dry</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_build_moderate">
                                                <span>Moderate</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_build_severe">
                                                <span>Severe</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_build_extreme">
                                                <span>Extreme</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_build_exceptional">
                                                <span>Exceptional</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div style='display:none;' class="row drought_checkbox_area drought_opt">
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_area_ab_dry">
                                                <span>Abnormally Dry</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_area_moderate">
                                                <span>Moderate</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_area_severe">
                                                <span>Severe</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_area_extreme">
                                                <span>Extreme</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_area_exceptional">
                                                <span>Exceptional</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                

                                <label for="themes">Pick a theme :</label>
                                <div id="themes">
                                    <button class="theme active" data-btn="YlOrRd"></button>
                                    <button class="theme" data-btn="PuRd"></button>
                                    <button class="theme" data-btn="GnBu"></button>
                                    <button class="theme" data-btn="Blues"></button>
                                    <button class="theme" data-btn="BuGn"></button>
                                    <button class="theme" data-btn="BuPu"></button>
                                    <button class="theme" data-btn="Greens"></button>
                                    <button class="theme" data-btn="Greys"></button>
                                    <button class="theme" data-btn="Oranges"></button>
                                    <button class="theme" data-btn="OrRd"></button>
                                    <button class="theme" data-btn="PuBu"></button>
                                    <button class="theme" data-btn="PuBuGn"></button>
                                    <button class="theme" data-btn="Purples"></button>
                                    <button class="theme" data-btn="RdPu"></button>
                                    <button class="theme" data-btn="Reds"></button>
                                    <button class="theme" data-btn="YlGn"></button>
                                    <button class="theme" data-btn="YlGnBu"></button>
                                    <button class="theme" data-btn="YlOrBr"></button>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l9 xl6">
                            <div id="" class="map-size"></div>
                        </div>
                        <div class="col s12 l12 xl4">
                            <div id="mapInfo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for chart_title, chart_val in panels.charts.items %}
            <div class="col s12 m6 xl4">
                <div class="card card-graph">
                    <div class="card-header red darken-3 white-text z-depth-2">
                        <span class="card-title">{{ chart_val.title }}</span>
                        <i class="left"></i>
                        <span class="card-title right">{% readable chart_val.total %}</span>
                    </div>
                    <div class="card-image">
                        <div id="{{ chart_title }}" class="ch-size bar-donut-chart" data-color=colorDrought data-val='{{ chart_val.child | jsonify | safe }}'></div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col s12 m6 xl4">
            <div class="card card-graph">
                <div class="card-header red darken-3 white-text z-depth-2">
                    <span class="card-title">{{ chart_val.title }}</span>
                    <i class="left"></i>
                    <span class="card-title right">{% readable chart_val.total %}</span>
                </div>
                <div class="card-image">
                    <div id="coba" class="ch-size bar-stacked-percent-chart" data-color=colorDrought data-xaxis='["Fruit Trees", "Rainfed", "Rangeland", "Forest & Shrub", "Vineyards", "Build Up", "Irrigated Agricultural Land"]' data-val='[{"name": "Abnormally Dry", "data": [2,20,40,20,50]}, {"name": "Moderate", "data": [10,20,40,20,50]}, {"name": "Severe", "data": [10,20,40,20,50]}]'></div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% trans "Fruit Trees" %}
                    </span>
                    <p>
                        {% trans "..." %}
                    </p>
                    <div class="table-responsive-scroll">
                        <table class="striped highlight online">
                            <thead>
                                <tr>
                                    <th rowspan="3">{% trans "Region" %}</th>
                                    <th colspan="15">{% trans "Risk Level" %}</th>
                                </tr>
                                <tr>
                                    <th colspan="3" class="drought_ab_dry">{% trans "Abnormally Dry" %}</th>
                                    <th colspan="3" class="drought_mod">{% trans "Moderate" %}</th>
                                    <th colspan="3" class="drought_svre">{% trans "Severe" %}</th>
                                    <th colspan="3" class="drought_extrme">{% trans "Extreme" %}</th>
                                    <th colspan="3" class="drought_excptnal">{% trans "Exceptional" %}</th>
                                </tr>
                                <tr>
                                    <th class="drought_ab_dry hum" title='{% trans "Population" %}'><i class="fa fa-male"></i></th>
                                    <th class="drought_ab_dry hum" title='{% trans "Building" %}'><i class="icon-infrastructure_building"></i></th>
                                    <th class="drought_ab_dry hum" title='{% trans "Area" %}'><i class="icon-socioeconomic_rural"></i></th>

                                    <th class="drought_mod hum" title='{% trans "Population" %}'><i class="fa fa-male"></i></th>
                                    <th class="drought_mod hum" title='{% trans "Building" %}'><i class="icon-infrastructure_building"></i></th>
                                    <th class="drought_mod hum" title='{% trans "Area" %}'><i class="icon-socioeconomic_rural"></i></th>

                                    <th class="drought_svre hum" title='{% trans "Population" %}'><i class="fa fa-male"></i></th>
                                    <th class="drought_svre hum" title='{% trans "Building" %}'><i class="icon-infrastructure_building"></i></th>
                                    <th class="drought_svre hum" title='{% trans "Area" %}'><i class="icon-socioeconomic_rural"></i></th>

                                    <th class="drought_extrme hum" title='{% trans "Population" %}'><i class="fa fa-male"></i></th>
                                    <th class="drought_extrme hum" title='{% trans "Building" %}'><i class="icon-infrastructure_building"></i></th>
                                    <th class="drought_extrme hum" title='{% trans "Area" %}'><i class="icon-socioeconomic_rural"></i></th>

                                    <th class="drought_excptnal hum" title='{% trans "Population" %}'><i class="fa fa-male"></i></th>
                                    <th class="drought_excptnal hum" title='{% trans "Building" %}'><i class="icon-infrastructure_building"></i></th>
                                    <th class="drought_excptnal hum" title='{% trans "Area" %}'><i class="icon-socioeconomic_rural"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for parent in panels.adm_likelihood_pop_building_area.parentdata %}
                                    <td class="boldRow">{{parent}}</td>
                                {% endfor %}
                                {% for child in panels.adm_likelihood_pop_building_area.child %}
                                    <tr class="selectable" onclick="window.document.location='?page=avalancherisk&code={{child.code}}';">
                                        {% for item in child.value %}
                                            <td>{{item}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
