{% extends "dashboard_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load app_filters %}

{% block dashboard_breadcrumb %} 
    <a href="{% url "dashboard_detail" %}?page=drought" class="breadcrumb">{% trans "Drought" %}</a>
    {% include "links_title.html" %}
{% endblock dashboard_breadcrumb %}

{% block dashboard_content %}
    <div class="row no-margin">
        {% include "qlink_list.html" %}
    </div>

    {% if nodata %}
        <div class="row">
            {{ nodata_desc }}
        </div>    
    {% else %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content" style="padding: 0 15px;">
                    <div class="date">
                        <div class="row valign-wrapper no-margin">
                            <div class="col s12 xl10">
                                <span class="card-title">
                                    {% trans "Closest Available Prediction Period :" %} {{woy}} {{woy_datestart}} to {{woy_dateend}}
                                </span>
                            </div>
                            <div class="input-field col s12 xl2">
                                <input type="text" id="set_woy" class="" data-date-format="YYYY-MM-DD" data-value="2015-04-20">
                                <label for="set_woy">{% trans "Date" %}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card card-dashboard">
                <div class="card-header red darken-2 white-text">
                    <span class="card-title">
                        {% trans "Map" %}
                    </span>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 l3 xl2">
                            <div id="layercontrol">
                                <div class="input-field">
                                    <select id="droughtOpt">
                                        <option value="drought_checkbox_pop">Population at Drought Risk</option>
                                        <option value="drought_checkbox_build">Building at Drought Risk</option>
                                        <option value="drought_checkbox_area">Area at Drought Risk</option>
                                    </select>
                                    <label for="droughtOpt">Choose Layer :</label>
                                </div>

                                <div class="input-field">
                                    <span>Landcover Area</span>
                                    <div class="switch right">
                                        <label>
                                            <input type="checkbox" data-type=wms data-layer=landcover>
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="input-field">
                                    <span>Drought Area</span>
                                    <div class="switch right">
                                        <label>
                                            <input type="checkbox" data-type=wms data-layer=drought>
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>

                                <label for="lvl">Choose Level :</label>
                                <div id="lvl" class="lvl_choice">
                                    <div class="row drought_checkbox_pop drought_opt">
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_pop_ab_dry">
                                                <span>Abnormally Dry</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_pop_moderate">
                                                <span>Moderate</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_pop_severe">
                                                <span>Severe</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_pop_extreme">
                                                <span>Extreme</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_pop_exceptional">
                                                <span>Exceptional</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div style='display:none;' class="row drought_checkbox_build drought_opt">
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_build_ab_dry">
                                                <span>Abnormally Dry</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_build_moderate">
                                                <span>Moderate</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_build_severe">
                                                <span>Severe</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_build_extreme">
                                                <span>Extreme</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_build_exceptional">
                                                <span>Exceptional</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div style='display:none;' class="row drought_checkbox_area drought_opt">
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_area_ab_dry">
                                                <span>Abnormally Dry</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_area_moderate">
                                                <span>Moderate</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_area_severe">
                                                <span>Severe</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_area_extreme">
                                                <span>Extreme</span>
                                            </label>
                                        </div>
                                        <div class="col s12">
                                            <label>
                                                <input type="checkbox" name="drought_checkbox" class="filled-in" value="drought_area_exceptional">
                                                <span>Exceptional</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                

                                <label for="themes">Pick a theme :</label>
                                <div id="themes">
                                    <button class="theme active" data-btn="YlOrRd"></button>
                                    <button class="theme" data-btn="PuRd"></button>
                                    <button class="theme" data-btn="GnBu"></button>
                                    <button class="theme" data-btn="Blues"></button>
                                    <button class="theme" data-btn="BuGn"></button>
                                    <button class="theme" data-btn="BuPu"></button>
                                    <button class="theme" data-btn="Greens"></button>
                                    <button class="theme" data-btn="Greys"></button>
                                    <button class="theme" data-btn="Oranges"></button>
                                    <button class="theme" data-btn="OrRd"></button>
                                    <button class="theme" data-btn="PuBu"></button>
                                    <button class="theme" data-btn="PuBuGn"></button>
                                    <button class="theme" data-btn="Purples"></button>
                                    <button class="theme" data-btn="RdPu"></button>
                                    <button class="theme" data-btn="Reds"></button>
                                    <button class="theme" data-btn="YlGn"></button>
                                    <button class="theme" data-btn="YlGnBu"></button>
                                    <button class="theme" data-btn="YlOrBr"></button>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l9 xl6">
                            <div id="leaflet_drought_map" class="map-size"></div>
                        </div>
                        <div class="col s12 l12 xl4">
                            <div id="mapInfo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for panel_title, panel_val in panels.items %}
            {% if panel_title == '' %}
            {% endif %}
        {% endfor %}

        {% for chart_title, chart_val in panels.charts.donut.items %}
            <div class="col s12 m6 xl4">
                <div class="card card-graph">
                    <div class="card-header red darken-3 white-text z-depth-2">
                        <span class="card-title">{{ chart_val.title }}</span>
                        <!-- <span class="card-title right">{% readable chart_val.total %}</span> -->
                    </div>
                    <div class="card-image">
                        <div id="drought_{{ chart_title }}_donut" class="ch-size donut-chart" data-color=colorDrought data-val='{{ chart_val.child | jsonify | safe }}'></div>
                        <div class="center-align grey-text text-darken-2 affected-count">
                            <span class="red-text text-darken-3">{% readable chart_val.total_atrisk %}</span>
                            of
                            <span class="red-text text-darken-3">{% readable chart_val.total %}</span>
                            at risk
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for chart_title, chart_val in panels.charts.bar.items %}
            <div class="col s12 m6 xl6">
                <div class="card card-graph">
                    <div class="card-header red darken-3 white-text z-depth-2">
                        <span class="card-title">{{ chart_val.title }}</span>
                        <!-- <i class="left"></i> -->
                        <!-- <span class="card-title right">{% readable chart_val.total %}</span> -->
                    </div>
                    <div class="card-image">
                        <div id="drought_{{ chart_title }}_bar" class="ch-size bar-stacked-percent-chart" data-color=colorDrought data-xaxis='{{ chart_val.labels | jsonify | safe }}' data-val='{{ chart_val.child | jsonify | safe }}'></div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for drought_title, drought_val in panels.tables.items %}
        <div class="col s12">
            <div class="card card-dashboard table-content">
                <div class="card-header red darken-2 white-text">
                    <span class="card-title">
                        {{ drought_val.title }}
                    </span>
                </div>
                <div class="card-content">
                    <p>
                        {{ drought_val.description }}
                    </p>
                    <div class="table-responsive-scroll">
                        <table class="highlight online">
                            <thead>
                                <tr>
                                    <th rowspan="3">{% trans "Region" %}</th>
                                    <th colspan="15">{% trans "Risk Level" %}</th>
                                </tr>
                                <tr>
                                    <th colspan="3" class="drought_ab_dry">{% trans "Abnormally Dry" %}</th>
                                    <th colspan="3" class="drought_mod">{% trans "Moderate" %}</th>
                                    <th colspan="3" class="drought_svre">{% trans "Severe" %}</th>
                                    <th colspan="3" class="drought_extrme">{% trans "Extreme" %}</th>
                                    <th colspan="3" class="drought_excptnal">{% trans "Exceptional" %}</th>
                                </tr>
                                <tr>
                                    <th class="drought_ab_dry hum" title='{% trans "Population" %}'><i class="icon-Affected-population"></i></th>
                                    <th class="drought_ab_dry hum" title='{% trans "Building" %}'><i class="icon-Building"></i></th>
                                    <th class="drought_ab_dry hum" title='{% trans "Area" %}'><i class="icon-Rural"></i></th>

                                    <th class="drought_mod hum" title='{% trans "Population" %}'><i class="icon-Affected-population"></i></th>
                                    <th class="drought_mod hum" title='{% trans "Building" %}'><i class="icon-Building"></i></th>
                                    <th class="drought_mod hum" title='{% trans "Area" %}'><i class="icon-Rural"></i></th>

                                    <th class="drought_svre hum" title='{% trans "Population" %}'><i class="icon-Affected-population"></i></th>
                                    <th class="drought_svre hum" title='{% trans "Building" %}'><i class="icon-Building"></i></th>
                                    <th class="drought_svre hum" title='{% trans "Area" %}'><i class="icon-Rural"></i></th>

                                    <th class="drought_extrme hum" title='{% trans "Population" %}'><i class="icon-Affected-population"></i></th>
                                    <th class="drought_extrme hum" title='{% trans "Building" %}'><i class="icon-Building"></i></th>
                                    <th class="drought_extrme hum" title='{% trans "Area" %}'><i class="icon-Rural"></i></th>

                                    <th class="drought_excptnal hum" title='{% trans "Population" %}'><i class="icon-Affected-population"></i></th>
                                    <th class="drought_excptnal hum" title='{% trans "Building" %}'><i class="icon-Building"></i></th>
                                    <th class="drought_excptnal hum" title='{% trans "Area" %}'><i class="icon-Rural"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for parent in drought_val.parentdata %}
                                    <td class="boldRow">{{parent}}</td>
                                {% endfor %}
                                {% for child in drought_val.child %}
                                    <tr class="selectable" onclick="window.document.location='?page=drought&code={{child.code}}';">
                                        {% for item in child.value %}
                                            <td>{{item}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block extra_script %}
    <script>
        var centroid = boundary['centroid'];
        var chosen_label = '{{parent_label}}';
        var woy = {{ woy }};
        var level_risk_pie = ['{% trans "Abnormally Dry" %}', '{% trans "Moderate" %}', '{% trans "Severe" %}', '{% trans "Extreme" %}', '{% trans "Exceptional" %}', '{% trans "Not at Risk" %}' ];
    </script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var date_param = getParameterByName("date");

            if (date_param == null){
                var start = moment();
            } else {
                var start = moment(new Date(date_param.substr(0, 4), parseInt(date_param.substr(5, 2))-1, date_param.substr(8, 2)));
            }

            console.log(start);
            // $('#set_woy').datepicker('setDate', '2018-12-09');
            $('#set_woy').datepicker({
                // format: 'YYYY-MM-DD',
                // defaultDate: start,
                defaultDate: '2018-12-09',
                setDefaultDate: true,
                maxDate: new Date(),
                autoClose: true,
                onSelect: function(context){
                    console.log(context);
                    var url = $(location).attr("href");
                    var date = moment(start).format('YYYY-MM-DD');

                    console.log(url);
                    console.log(date);
                    console.log(date_param);

                    // if (date_param == null){
                    //     window.document.location = url+'&date='+date;
                    // } else {
                    //     url = updateUrlParameter(url, 'date', date);
                    //     window.document.location = url;
                    // }

                    console.log(url);
                }
            });

            // $('#set_woy').setDate(start);

            // $('input[name="set_woy"]').daterangepicker({
            //     singleDatePicker: true,
            //     showDropdowns: true,
            //     startDate: start,
            //     minYear: 2017,
            //     maxDate: new Date()
            // }, function(start, end, label) {
            //     var url = $(location).attr("href");
            //     var date = moment(start).format('YYYY-MM-DD');

            //     if (date_param == null){
            //         window.document.location = url+'&date='+date;
            //     } else {
            //         url = updateUrlParameter(url, 'date', date);
            //         window.document.location = url;
            //     }
            // });
        });
    </script>
{% endblock %}
